STARTUP NOMOUNT;
SET DBID {{ dbid }};
RUN {
  SET CONTROLFILE AUTOBACKUP FORMAT FOR DEVICE TYPE DISK TO '{{ formato_autobackup }}';
{% if pieza %}
  RESTORE CONTROLFILE FROM '{{ pieza }}';
{% else %}
  RESTORE CONTROLFILE FROM AUTOBACKUP;
{% endif %}
}
ALTER DATABASE MOUNT;
RECOVER DATABASE;
ALTER DATABASE OPEN RESETLOGS;
